Repository pinstinct/wkbl-stats: changes, and which pre-commit hooks are due for each by the changed paths.
All: front-lint-security, front-format-check

front-lint-security:
  name: Frontend lint/security (eslint)
  entry: npx eslint
  language: system

front-format-check:
  name: Frontend format check (prettier)
  entry: npx prettier --check
  language: system

Update docs for frontend pre-commit quality checks
  README.md
  docs/project-roadmap.md
  docs/refactor-plan.md
Due: front-format-check

refactor(css): complete P2 stylesheet modularization
  docs/refactor-plan.md
  src/styles.css
  src/styles/components/charts.css
  src/styles/components/highlights.css
  src/styles/components/search.css
  src/styles/core/base.css
  src/styles/core/layout.css
  src/styles/pages/compare.css
  src/styles/pages/game-detail.css
  src/styles/pages/games.css
  src/styles/pages/leaders.css
  src/styles/pages/main-prediction.css
  src/styles/pages/player-detail.css
  src/styles/pages/predict.css
  src/styles/pages/schedule.css
  src/styles/pages/team-detail.css
  src/styles/responsive/common.css
Due: front-format-check

refactor: pass pre-commit all-files and advance P3 TDD
  .github/workflows/deploy.yml
  .github/workflows/update-data-full.yml
  .github/workflows/update-data.yml
  CLAUDE.md
  data/wkbl-active.json
  docs/data-sources.md
  docs/refactor-plan.md
  docs/static-hosting-troubleshooting.md
  docs/visualization-plan.md
  index.html
  src/app.js
  src/data/client.js
  src/data/client.test.js
  src/db.js
  src/ui/page-events.js
  src/ui/page-events.test.js
  src/ui/responsive-nav.js
  src/ui/responsive-nav.test.js
  src/views/compare.js
  src/views/compare.test.js
  src/views/game-detail.js
  src/views/game-detail.test.js
  src/views/games.js
  src/views/home.js
  src/views/home.test.js
  src/views/leaders.js
  src/views/leaders.test.js
  src/views/player-detail.js
  src/views/player-detail.test.js
  src/views/players.js
  src/views/predict.js
  src/views/predict.test.js
  src/views/schedule.js
  src/views/schedule.test.js
  src/views/teams.js
  src/views/teams.test.js
  tests/test_api.py
  tools/api.py
Due: front-lint-security, front-format-check

test(api,db): extend P3 TDD for roster/query contracts
  docs/refactor-plan.md
  tests/test_api.py
  tests/test_database.py
  tools/api.py
  tools/database.py
Due: front-format-check

fix(players): prevent future-only rookies in past season filters
  docs/refactor-plan.md
  docs/sql-query-contract.md
  src/db.js
  tests/fixtures/api_contracts.json
  tests/test_api.py
  tools/api.py
Due: front-lint-security, front-format-check

test(front): complete P4 pure-logic TDD and regression checklist
  docs/refactor-plan.md
  docs/regression-checklist.md
  src/app.js
  src/views/players-logic.js
  src/views/players-logic.test.js
  src/views/predict-logic.js
  src/views/predict-logic.test.js
  src/views/schedule-logic.js
  src/views/schedule-logic.test.js
  src/views/schedule.js
Due: front-lint-security, front-format-check

fix(ingest): avoid null-overwrite for end-date games
  tests/test_ingest_predictions.py
  tools/ingest_wkbl.py
Due: none

chore: remove unused sample data file and update docs
  CLAUDE.md
  README.md
  data/sample.json
Due: front-format-check

chore: add maintenance comments across core modules
  src/data/client.js
  src/ui/page-events.js
  src/ui/responsive-nav.js
  src/views/compare.js
  src/views/game-detail.js
  src/views/games.js
  src/views/home.js
  src/views/leaders.js
  src/views/player-detail.js
  src/views/players-logic.js
  src/views/players.js
  src/views/predict-logic.js
  src/views/predict.js
  src/views/schedule-logic.js
  src/views/schedule.js
  src/views/teams.js
  tools/ingest_wkbl.py
Due: front-lint-security, front-format-check

refactor: extract router and standings chart logic with TDD
  docs/refactor-plan.md
  src/app.js
  src/ui/router-logic.js
  src/ui/router-logic.test.js
  src/views/teams-chart-logic.js
  src/views/teams-chart-logic.test.js
Due: front-lint-security, front-format-check

refactor: simplify module structure and document project layout
  .dockerignore
  Dockerfile
  README.md
  docs/project-structure.md
  docs/refactor-plan.md
  src/app.js
  src/ui/index.js
  src/views/index.js
Due: front-lint-security, front-format-check

chore: improve code comments across core modules
  src/app.js
  src/data/client.js
  src/ui/index.js
  src/ui/router-logic.js
  src/views/index.js
  src/views/teams-chart-logic.js
  tools/api.py
  tools/database.py
Due: front-lint-security, front-format-check

feat: add 6 new data collection types with DB, parsers, and CLI flags
  .github/workflows/update-data-full.yml
  .github/workflows/update-data.yml
  CLAUDE.md
  data/wkbl-active.json
  data/wkbl.db
  docs/additional-data-plan.md
  docs/data-sources.md
  docs/project-roadmap.md
  src/db.js
  tests/test_database.py
  tools/config.py
  tools/database.py
  tools/ingest_wkbl.py
Due: front-lint-security, front-format-check

refactor: clean up play_by_play schema, add H2H quarter score population
  CLAUDE.md
  docs/project-roadmap.md
  tests/test_database.py
  tools/config.py
  tools/database.py
  tools/ingest_wkbl.py
Due: front-format-check

docs: add advanced stats implementation plan
  docs/advanced-stats-plan.md
Due: front-format-check

feat: add Tier 1 advanced stats (13 metrics) with TDD
  CLAUDE.md
  docs/project-roadmap.md
  tests/fixtures/api_contracts.json
  tests/test_database.py
  tests/test_refactor_p0.py
  tools/api.py
  tools/database.py
  tools/stats.py
Due: front-format-check

feat: add REB% (total rebound percentage) to complete Tier 1
  CLAUDE.md
  docs/project-roadmap.md
  tests/test_refactor_p0.py
  tools/stats.py
Due: front-format-check

fix(p0): normalize pct sorting and show court margin labels
  src/db.js
  src/styles/core/base.css
  src/views/players-logic.js
  src/views/players-logic.test.js
  src/views/players.js
  src/views/players.test.js
Due: front-lint-security, front-format-check

docs: update p0 verification notes for sorting and plus-minus
  docs/players-teams-leaders-fix-plan.md
Due: front-format-check

feat(ui): enrich stat tooltips and add favicon
  favicon.svg
  index.html
  src/app.js
  src/views/player-detail.js
  src/views/teams.js
Due: front-lint-security, front-format-check

fix: compute game_score/tov_pct in db.js and add team stats to getTeamDetail
  src/db.js
Due: front-lint-security, front-format-check

feat: display advanced stats on frontend (Phase 8)
  docs/advanced-stats-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/db.js
  src/views/index.js
  src/views/player-detail.js
  src/views/players.js
  src/views/teams.js
  tests/test_api.py
  tools/api.py
Due: front-lint-security, front-format-check

feat: compute team-context advanced stats in db.js (static hosting)
  docs/advanced-stats-display-plan.md
  src/db.js
Due: front-lint-security, front-format-check

fix(p0): stabilize players sorting and restore PER/advanced stats
  docs/players-teams-leaders-fix-plan.md
  src/app.js
  src/db.js
  src/ui/index.js
  src/ui/page-events.js
  src/ui/page-events.test.js
  src/views/leaders.js
  src/views/leaders.test.js
Due: front-lint-security, front-format-check

feat: add lineup tracking engine with +/- and On/Off ratings (Phase 7.3)
  CLAUDE.md
  docs/project-roadmap.md
  tests/test_database.py
  tests/test_lineup.py
  tools/api.py
  tools/database.py
  tools/ingest_wkbl.py
  tools/lineup.py
Due: front-format-check

feat(p1): add sortable advanced standings and tooltip/tab polish
  docs/players-teams-leaders-fix-plan.md
  index.html
  src/app.js
  src/db.js
  src/styles/core/base.css
  src/styles/core/layout.css
  src/views/index.js
  src/views/player-detail.js
  src/views/players.js
  src/views/teams.js
  src/views/teams.test.js
Due: front-lint-security, front-format-check

fix(players): normalize Safari filter control sizing
  src/styles/core/base.css
Due: front-format-check

feat: switch player ratings to individual ORTG/DRTG via TDD
  src/db.js
  tests/test_refactor_p0.py
  tools/api.py
  tools/database.py
  tools/stats.py
Due: front-lint-security, front-format-check

docs: reorganize and update all documentation to current state
  CLAUDE.md
  README.md
  docs/bak/additional-data-plan.md
  docs/bak/advanced-stats-display-plan.md
  docs/bak/advanced-stats-plan.md
  docs/bak/players-teams-leaders-fix-plan.md
  docs/bak/refactor-plan.md
  docs/bak/remaining-features.md
  docs/bak/static-hosting-troubleshooting.md
  docs/bak/visualization-plan.md
  docs/data-sources.md
  docs/project-roadmap.md
  docs/project-structure.md
Due: front-format-check

fix: always init db before lineup compute path
  tests/test_ingest_db_init.py
  tools/ingest_wkbl.py
Due: none

docs: clarify court margin metric definitions
  README.md
Due: front-format-check

feat: implement win shares and document ws ui behavior
  CLAUDE.md
  docs/project-roadmap.md
  docs/win-shares-plan.md
  src/app.js
  src/db.js
  src/views/player-detail.js
  src/views/players.js
  tests/test_refactor_p0.py
  tools/api.py
  tools/database.py
  tools/stats.py
Due: front-lint-security, front-format-check

docs: add BBR comparison plan and metric definitions
  README.md
  docs/data-sources.md
  docs/project-roadmap.md
Due: front-format-check

Path conditions:
  front-lint-security: any of: ^(src/.*\.js|vitest\.config\.js)$ and \.(js|mjs|cjs)$
  front-format-check: any of: \.(js|mjs|cjs)$, \.css$, \.(html|htm|xhtml)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
