Repository pinstinct/wkbl-stats: changes, and which pre-commit hooks are due for each by the changed paths.
All: front-lint-security, front-format-check

front-lint-security:
  name: Frontend lint/security (eslint)
  entry: npx eslint
  language: system

front-format-check:
  name: Frontend format check (prettier)
  entry: npx prettier --check
  language: system

fix: normalize plus-minus to per-game display
  src/app.js
  src/db.js
  src/views/player-detail.js
  src/views/players.js
  tools/api.py
Due: front-lint-security, front-format-check

refactor: rename plus-minus field to plus_minus_per_game
  src/app.js
  src/db.js
  src/views/player-detail.js
  src/views/players.js
  tools/api.py
Due: front-lint-security, front-format-check

feat: align plus-minus metrics across frontend and API
  README.md
  docs/data-sources.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/db.js
  src/views/game-detail.js
  src/views/game-detail.test.js
  src/views/player-detail.js
  src/views/players.js
  src/views/players.test.js
  tests/test_api.py
  tools/api.py
Due: front-lint-security, front-format-check

Improve mobile stat visibility and trim leaders plus-minus
  README.md
  docs/data-sources.md
  index.html
  src/app.js
  src/db.js
  src/styles/pages/compare.css
  src/styles/pages/player-detail.css
  src/views/game-detail.js
  tests/test_api.py
  tools/api.py
Due: front-lint-security, front-format-check

Tune mobile compare table widths and advanced stats grid
  src/app.js
  src/styles/pages/compare.css
  src/styles/pages/player-detail.css
Due: front-lint-security, front-format-check

Add interactive game shot chart dashboard with TDD
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/data/client.js
  src/data/client.test.js
  src/styles/pages/game-detail.css
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Add team and overtime filters to game shot charts
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/styles/pages/game-detail.css
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Add shot chart PNG export and court overlay plugin
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/styles/pages/game-detail.css
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Fix shot chart quarter parsing and WKBL court scaling
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  src/app.js
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
Due: front-lint-security, front-format-check

Add shotcharts and shotzones tab views for game detail
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/styles/pages/game-detail.css
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Fix shot chart layout bounds and team-player filter linkage
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Fix responsive court distortion and three-point arc rendering
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  src/app.js
  src/styles/pages/game-detail.css
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Align three-point arc joins and reconcile team-player filters
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  src/app.js
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

Fix three-point arc radius and team reconcile stability
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  docs/project-roadmap.md
  src/app.js
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
Due: front-lint-security, front-format-check

fix(shotchart): realign 3pt corner/arc and restricted arc rendering
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  src/app.js
  src/views/game-shot-logic.js
  src/views/game-shot-logic.test.js
Due: front-lint-security, front-format-check

feat(game): add sortable boxscore columns and mobile chart-card responsiveness
  CLAUDE.md
  README.md
  docs/game-shotchart-plan.md
  index.html
  src/app.js
  src/styles/pages/game-detail.css
  src/views/game-detail.js
  src/views/game-detail.test.js
  src/views/index.js
Due: front-lint-security, front-format-check

feat(player): add interactive player shotchart dashboard
  CLAUDE.md
  README.md
  docs/player-shotchart-plan.md
  docs/project-roadmap.md
  index.html
  src/app.js
  src/data/client.js
  src/data/client.test.js
  src/db.js
  src/styles/pages/player-detail.css
  src/views/index.js
  src/views/player-shot-logic.js
  src/views/player-shot-logic.test.js
Due: front-lint-security, front-format-check

fix(player-shot): align zone filtering and quarter labels
  docs/player-shotchart-plan.md
  src/app.js
  src/styles/pages/player-detail.css
  src/views/player-shot-logic.js
  src/views/player-shot-logic.test.js
Due: front-lint-security, front-format-check

style(player-shot): add small spacing below filter header
  src/styles/pages/player-detail.css
Due: front-format-check

docs(player-shot): note filter-to-section spacing adjustment
  docs/player-shotchart-plan.md
Due: front-format-check

fix(server): add --no-cache to daily ingest to fetch fresh schedule data
  server.py
Due: none

test: increase coverage from 80% to 95% (408 → 501 tests)
  docs/bak/test-coverage-95-plan.md
  tests/fixtures/__init__.py
  tests/fixtures/html_samples.py
  tests/test_api.py
  tests/test_database.py
  tests/test_ingest_fetch_functions.py
  tests/test_ingest_helpers.py
  tests/test_ingest_orchestration.py
  tests/test_ingest_save_to_db.py
  tests/test_ingest_schedule.py
  tests/test_lineup.py
  tests/test_parsers.py
  tests/test_predict.py
  tests/test_refactor_p0.py
Due: front-format-check

docs: update test coverage section in CLAUDE.md (501 tests, 95%)
  CLAUDE.md
Due: front-format-check

fix(server): add --fetch-shot-charts to daily ingest
  server.py
Due: none

feat: improve loading speed with DB split, IndexedDB caching, and skeleton UI
  .github/workflows/update-data-full.yml
  .github/workflows/update-data.yml
  CLAUDE.md
  docs/loading-optimization-plan.md
  docs/project-roadmap.md
  index.html
  pyproject.toml
  server.py
  src/app.js
  src/data/idb-cache.js
  src/data/idb-cache.test.js
  src/db.js
  src/styles.css
  src/styles/skeleton.css
  src/ui/skeleton.js
  src/ui/skeleton.test.js
  tests/test_split_db.py
  tools/split_db.py
Due: front-lint-security, front-format-check

ci: add split-db contract test and avoid duplicate deploy runs
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: front-format-check

ci(update-data): compute season label from current KST date
  .github/workflows/update-data.yml
Due: front-format-check

fix(frontend): load IndexedDB cache script as non-module
  index.html
  src/data/idb-cache.global.js
Due: front-lint-security, front-format-check

feat: 예정 경기 선발 선수 predict 딥링크 및 문서 업데이트
  README.md
  docs/project-roadmap.md
  src/app.js
  src/views/game-detail.js
  src/views/game-detail.test.js
Due: front-lint-security, front-format-check

Adjust vertical spacing for predict cards
  src/styles/pages/predict.css
Due: front-format-check

docs: sync documentation with current codebase state
  CLAUDE.md
  docs/complete/additional-data-plan.md
  docs/complete/advanced-stats-display-plan.md
  docs/complete/advanced-stats-plan.md
  docs/complete/players-teams-leaders-fix-plan.md
  docs/complete/refactor-plan.md
  docs/complete/remaining-features.md
  docs/complete/static-hosting-troubleshooting.md
  docs/complete/test-coverage-95-plan.md
  docs/complete/visualization-plan.md
  docs/data-sources.md
  docs/project-roadmap.md
  docs/project-structure.md
  docs/sql-query-contract.md
Due: front-format-check

docs: move 4 completed plan docs to docs/complete/
  CLAUDE.md
  docs/complete/game-shotchart-plan.md
  docs/complete/loading-optimization-plan.md
  docs/complete/player-shotchart-plan.md
  docs/complete/win-shares-plan.md
  docs/project-structure.md
Due: front-format-check

docs: add split_db.py step to manual ingest commands
  CLAUDE.md
Due: front-format-check

test: enforce 95% coverage gates and document results
  .github/workflows/ci.yml
  README.md
  docs/complete/test-coverage-95-plan.md
  package-lock.json
  package.json
  pyproject.toml
  src/app.behavior.integration.test.js
  src/data/client.test.js
  src/db.integration.test.js
  src/seasons.test.js
  src/test-utils/frontend-fixtures.js
  src/ui/index.test.js
  src/views/index.test.js
  src/views/player-detail.test.js
  src/views/players.test.js
  tests/test_api.py
  tests/test_split_db_cli.py
  vitest.config.js
Due: front-lint-security, front-format-check

feat: add tiered e2e scenario coverage and CI reporting
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/e2e-coverage-guideline.md
  docs/e2e-playwright-plan.md
  docs/project-roadmap.md
  docs/project-structure.md
  docs/regression-checklist.md
  e2e/helpers/waiters.js
  e2e/optional/resilience.spec.js
  e2e/recommended/interaction.spec.js
  e2e/required/core.spec.js
  e2e/scenarios/scenario-matrix.yaml
  package-lock.json
  package.json
  playwright.config.js
  reports/.gitkeep
  tools/e2e_coverage_report.py
Due: front-format-check

test: cover e2e coverage reporter to restore backend gate
  tests/test_e2e_coverage_report.py
Due: none

docs: update for e2e testing and coverage reporting additions
  CLAUDE.md
  docs/complete/e2e-playwright-plan.md
  docs/project-structure.md
Due: front-format-check

Path conditions:
  front-lint-security: any of: ^(src/.*\.js|vitest\.config\.js)$ and \.(js|mjs|cjs)$
  front-format-check: any of: \.(js|mjs|cjs)$, \.css$, \.(html|htm|xhtml)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
